.navbar-default {
	border-color: #67C4D0;
	background-color: #67C4D0;
}
.dropdown > open > li > a:hover {
	color:#FFF !important;
}
.navbar a:hover {
	color:#2c3e50 !important;
	text-decoration:none;
}
.dropdown-menu > li > a:hover {
	color:#FFF !important;
}
audio {
	width:100%;
}
.greycolor {
	/* background-color:#efefef !important; */
	border: 0px !important;
}
.header-small-text {
	font-size:18px;
}
.icondashboard {
	float:left;
	margin-left:20px;
	width: auto;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #2C929F;
}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	padding: 10px 15px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #FFF;
	border: 1px solid #ccc;
	color: #000;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	color: #000;
	cursor: default;
	background-color: #67C4D0;
	border-color: #67C4D0;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background-color: #67C4D0;
	color:#000;
}

/*------------------ PAYMENT PAGE -----------------------*/
.panel {
	text-align: center;
}
.panel:hover {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}
.panel-body {
	padding: 0px;
	text-align: center;
}
.the-price {
	background-color: rgba(220,220,220,.17);
	box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
	padding: 20px;
	margin: 0;
}
.the-price h1 {
	line-height: 1em;
	padding: 0;
	margin: 0;
}
.subscript {
	font-size: 25px;
}
.cnrflash {
	/*Position correctly within container*/
    position: absolute;
	top: -9px;
	right: 4px;
	z-index: 1; /*Set overflow to hidden, to mask inner square*/
	overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
	width: 100px;
	height: 100px;
	border-radius: 3px 5px 3px 0;
}
.cnrflash-inner {
	/*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
	bottom: 0;
	right: 0;
	width: 145px;
	height: 145px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
	-ms-transform-origin: 100% 100%;  /* IE 9 */
	-o-transform-origin: 100% 100%; /* Opera */
	-moz-transform-origin: 100% 100%; /* Firefox */
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
	background-size: 4px, auto, auto, auto;
	background-color: #aa0101;
	box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after {
	/*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
	display: block;
	position: absolute;
	bottom: -16px;
	width: 0;
	height: 0;
	border: 8px solid #800000;
}
.cnrflash-inner:before {
	left: 1px;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
.cnrflash-inner:after {
	right: 0;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.cnrflash-label {
	/*Make the label look nice*/
    position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	padding-bottom: 5px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(1,1,1,.8);
	font-size: 0.95em;
	font-weight: bold;
	text-align: center;
}
/*------------------ PAYMENT PAGE -----------------------*/
