body{
	font-family: 'Lato', sans-serif;

}
.clear{
	clear:both
}
a:hover{
	text-decoration:none
}
.sound-cloud-header a h2, a h2, .feedback{
	font-weight:700;
	font-size:20px;
	text-transform:uppercase;
	color:#3dbdcd
}
a h3{}
.logo{
	border-right:2px solid #53a8b3;
	padding-right:10px;
	margin-right:10px;
}
.navbar{
	background:#66c4d0;
	padding:8px 0;
	z-index:99999;
	border:none;
}

.submit-song{
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
	line-height:45px;
}
.submit-song a{
	color:#000
}
#navbar-main{
	margin-top:10px;
}
#navbar-main ul{
	margin:0;
	padding:0
}
#navbar-main ul li{
	
}
#navbar-main ul li a{
	padding:6px 12px;
	border-radius:5px;
	color:#fff;
	text-transform:uppercase;
	margin-right:15px;
}

#navbar-main ul li:nth-child(1) a{
	background:#43609c
}
#navbar-main ul li:nth-child(2) a{
	background:#0d90ca
}
/*End header*/

/*Soundcloud area*/
.soundcloud-slider{
	margin-top:100px;
	margin-bottom:40px
}
.single-sound-clould{
background:#fff;
-moz-box-shadow: 0 0 5px #ccc;
-webkit-box-shadow: 0 0 5px#ccc;
box-shadow: 0 0 5px #ccc;
overflow:hidden;
margin:5px;
}

.share-btn{
	border:1px solid #d7d7d7;
	padding:12px 15px;
	border-radius:50px;
	color:#7a7a7a;
	font-size:14px;
	margin-top:10px;
	margin-left:15px;
}
.share-btn i{
	font-size:22px;
}
.sound-cloud-header{
	margin-bottom:30px;
	margin-top:20px;
	margin-left:15px;
	
}
.soundcloud_footer{
	overflow:hidden;
}
.rateing-area{
	padding-left:120px;
	background:url(../img/rate-seal.png)no-repeat scroll 0 0;
	float:right;
	min-height:63px;
	margin-bottom:10px;
}
.rateing-area ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:right;
}
.rateing-area ul li{
	display:inline;

}

.rateing-area ul li a{
	display:inline-block;
	font-size:14px;
	color:#7a7a7a;
	margin-right:15px;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 50px;
	padding: 12px 15px;
	margin-top:10px;
}
.rateing-area ul li:nth-child(2) a{
	border-radius:100%
}
.rateing-area ul li:nth-child(1) a{
	background:#66c4d0;
	color:#fff;
	border-radius:100%
}
.rateing-area ul li a i{
	font-size:18px;
}
.rateing-area ul li a:hover{}

.soundcloud-slider .carousel-control.left, .soundcloud-slider .carousel-control.right{
	background:none
}
.carousel-control{
	background:none!important;
}
.soundcloud-slider .fa-angle-left, .soundcloud-slider .fa-angle-right{
	font-size:100px;
	position:relative;
	color:#d1cfcf;
	transform: translate(0%, 100%);
	-moz-transform: translate(0%, 100%);
	-webkit-transform: translate(0%, 100%);
	-o-transform: translate(0%, 100%);
}

.soundcloud-slider .fa-angle-left:hover, .soundcloud-slider .fa-angle-right:hover{
	color:#6dc6d2!important;
}
.main-structure{
	width:930px;
	margin:0 auto;
}

/*
End soundcloud slider
*/
.comment-form{
background:#fff;
-moz-box-shadow: 0 0 5px #ccc;
-webkit-box-shadow: 0 0 5px#ccc;
box-shadow: 0 0 5px #ccc;
overflow:hidden;
padding:20px 15px;
margin-bottom:12px;
}
.comment-form h3{
	font-size:16px;
	color:#66c4d0;
	font-weight:400;
	margin-bottom:18px;
	margin-top:0
}
.comment-form textarea{
	width:100%;
	padding:20px;
	padding-left:40px;
	background:url(../img/icon-pencil.png)no-repeat scroll 18px 18px #f9f9f9;
	font-size:16px;
	color:#b3b3b3;
	border:none;
	margin-bottom:10px
}
.btn-post{
  border-radius: 3px;
  background-color: rgb(61, 189, 205);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.11);
  border:none;
  font-size:18px;
  color:#fff;
  text-transform:uppercase;
  font-weight:700;
  padding:12px 40px;
}
/*End comment form*/
.all_comments{
background:#fff;
-moz-box-shadow: 0 0 5px #ccc;
-webkit-box-shadow: 0 0 5px#ccc;
box-shadow: 0 0 5px #ccc;
overflow:hidden;
padding:20px 15px;
margin-bottom:12px;	
}
.all_comments h2{
	margin:0;
	font-size:16px;
}
.all_comments h2 span{
	font-weight:bold;
	color:#3dbdcd;
	text-transform:uppercase;
}
#comment_order{
	background:#f0f0f0;
	padding:5px 10px;
	border:none;
	border-radius:5px;
}

.single-comment{
	border-bottom:1px solid #f2f2f2;
	overflow:hidden;
	padding-top:18px
}
.author_avatar{
	float:left;
	margin-right:20px;
}
.comment-content h3{
	margin-top:20px;
	margin-bottom:15px;
	font-size:18px;
	font-weight:700;
	color:#3dbdcd;
}
.comment-content h3 span{
	color:#bbbbbb;
	font-weight:400;
	font-size:12px;
}
.comment-content p{
	font-size:16px;
	color:#898888
}
.reply{
	margin-right:10px;
	border:1px solid #f2f2f2;
	background:none;
	border-bottom:0px;
	padding:6px 18px;
	color:#949494
}
.reply:hover{
	background:#3dbdcd;
	color:#fff;
}
.reply-comment{
	border-left:1px solid #f2f2f2;
	width:90%;
	float:right;
	overflow:hidden;
	padding-left:15px
}
#main_wrap{
	padding-bottom:125px;
	position:relative;
}
.comment-load-more{
	margin-top:20px;
}
.comment-load-more a{
	color:#bbbbbb;
	font-size:16px;
	
}
/*first-rate-wrap*/
.first-rate-wrap{
	position:absolute;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0.75);
	width:100%;
	height:100%;
	z-index:999;
	padding-top:70px
}


.first-rate-wrap h2{
	font-size:30px;
	color:#ffffff;
	text-transform:uppercase;
	margin-top:30px;
	margin-bottom:2px;
	font-weight:700
}
.rate-border{
	width:200px;
	margin:0 auto;
	border:1px solid #fff
}

.previous-song{
margin-top:-30px
}
.next-song{
margin-top:-30px
}
.carousel-control{
	opacity:inherit;
}
.previous-song span, .next-song span{
	font-size:16px;
	color:#bababa;
}
.previous-song h2, .next-song h2{
	font-size:24px;
	color:#3dbdcd;
	text-transform:uppercase;
	margin:0px;
}
.rate-text{
	font-size:16px;
	color:#bababa;
	margin-left:400px;
	margin-bottom:50px;
}

.rate-text h2{
	margin:0;
	padding:0;
	font-size:24px;
	color:#3dbdcd
}


.close-tips{
	color:#cacaca;
	font-size:16px;
	cursor:pointer;
}
.close-tips span{
	font-size:44px;
}


.first-rate-wrap .soundcloud-slider{
	margin-top:-30px;
	margin-bottom:0
}
.wrap_title{
	position:relative;
	z-index:99999
}
.first-rate-wrap .soundcloud-slider .sound-cloud-header{
	display:none
}

.first-rate-wrap .soundcloud-slider iframe{
	display:none
}
.first-rate-wrap .soundcloud-slider .soundcloud_footer{
	margin-top:230px;
	background:#fff;
}
.first-rate-wrap .single-sound-clould{
	box-shadow:none;
	background:none;
	
}

.first-rate-wrap .left.carousel-control {
  left: 115px;
  top: -5px;
}
.first-rate-wrap .right.carousel-control {
  right: 115px;
  top: -5px;
}


.carousel-control .fa-angle-right:hover, .carousel-control .fa-angle-left:hover{
	color:rgb(61, 189, 205);
} 
.carousel-control .fa-angle-right{
	font-size:110px;
	top:50%;
	position:absolute;
	transform: translate(-20%, 18%);
	-moz-transform: translate(-20%, 18%);
	-webkit-transform: translate(-20%, 18%);
	-o-transform: translate(-20%, 18%);
	color:rgb(209, 207, 207)
}

.carousel-control .fa-angle-left{
	font-size:110px;
	top:50%;
	position:absolute;
			transform: translate(-80%, 18%);
	-moz-transform: translate(-80%, 18%);
	-webkit-transform: translate(-80%, 18%);
	-o-transform: translate(-80%, 18%);
	color:rgb(209, 207, 207)
}

a:focus{
	outline:none
}
.nav > li.desktop{
	display:none;
}
/*Fixes media query's*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-structure{
	width:100%
}
}
@media only screen and (max-width: 767px) {
	.navbar-toggle{
		margin-top:0
	}
.nav > li.desktop{
	display:block;
}
.mobile {
 display:none
}
.carousel-control .fa-angle-right{
	font-size:110px;
	top:50%;
	position:absolute;
	transform: translate(-20%, 45%);
	-moz-transform: translate(-20%, 45%);
	-webkit-transform: translate(-20%, 45%);
	-o-transform: translate(-20%, 45%);
	color:rgb(209, 207, 207)
}

	.carousel-control .fa-angle-right, .carousel-control .fa-angle-left{
		font-size:55px
	}
	.carousel-control.left, .carousel-control.right {
		width:50%;
	}
.carousel-control .fa-angle-right, .carousel-control .fa-angle-left{
	width:100%
}

	.page-header h1{
		font-size:22px
	}
	.feedback_result .col-md-6{
		border:1px solid #ccc
	}
.main-structure{
	width:100%
}
.submit-song{
	float:left
}
.navbar-toggle{
	margin-bottom:0;
	margin-right:0
}

.logo {
  border: medium none;
  margin-right: 0;
  padding-right: 0;
  text-align: center;

}
.submit-song{
	text-align:center
}
.header_left ul{
	text-align:center;
}


.first-rate-wrap .left.carousel-control{
	left:0;
	width:150px;
}
.first-rate-wrap .right.carousel-control{
	right:0;
	width:150px;
}
.carousel-control.fa-angle-left{
	font-size:55px
}
.carousel-control.fa-angle-right{
	font-size:55px
}
.first-rate-wrap .previous-song h2, .first-rate-wrap .next-song h2{
	font-size:18px
}
.soundcloud-slider .fa-angle-left, .soundcloud-slider .fa-angle-right{
	font-size:70px
}
.rateing-area{
	padding-left:108px;
}
.rateing-area ul li a{
	margin-right:5px;
	padding:10px 12px
}
.share-btn{
	padding:10px 12px;
	margin-bottom:5px
}
#navbar-main ul li a{
	margin-top:5px
}
.first-rate-wrap h2{
	font-size:22px
}
.first-rate-wrap .soundcloud-slider .fa-angle-left {
  margin-left: -92px;
  margin-top:9px
}
.first-rate-wrap .soundcloud-slider .fa-angle-right {
  margin-right: -82px;
   margin-top:9px
}
.rate-text {
  margin-left: 70px;
  text-align: left;
}
.bar-right{
	width:70%;
	float:left
}
.bar_left {
  overflow: hidden;
  padding-top: 8px;
}
.submit-song{
	line-height:inherit;
	font-size:14px;
}
.rateing-area {
  background-size: 20% auto;
  padding-left: 62px;
}
#navbar-main ul li a{
	margin-right:0
}
}
